.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-button{
  position: fixed !important;
  bottom: 20px !important;
  right: 10px !important;
}

.form-control {
  color: white !important ;
  border-radius: 10px !important ;
  border: 1px solid #e9e9e9 !important ;
  margin-bottom: 15px !important;
}

select ,select > option {
  color: white !important ;
  border: 1px solid #e9e9e9 !important ;
}

.nav-span {
  padding-left: 10px ;
}

.multi-line {
  white-space: pre-line !important;
  text-align: start !important;
}

.container {
  padding-top: 20px;
}

.bordered {
  border: 1px solid black !important;
}
.navbar-right {
  padding-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
